*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/

header,
h3{
    font-family:"Bungee", sans-serif;
    color: #0B04A2;
    font-weight: normal;
    font-size: 48px;
}

h2{
    font-family:"Bungee", sans-serif;
    color: #0B04A2;
    font-weight: normal;
    font-size: 32px;
}

form button{
    font-family:"Bungee", sans-serif;
    font-size: 16px;
}

p,
label,
form,
input{
    font-family: "inter",sans-serif;
    font-weight: bold;
}

p{
    font-weight: normal;
    font-size: 32px;
}



textarea, select{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color: #0B04A2;
    padding: 16px 0;
}
header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color: #CAF600;
    text-decoration: none;
    font-size: 16px;
}

.logo{
    width: 30%;
}

#banner h2,
#banner p{
    color: #CAF600;
}

#banner{
    background-color: #0B04A2;
    padding: 64px;
}

.container,
#portifolio h2{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image{
    height: 320px;
    margin-right: 24px;
}

.image2{
    height: 320px;
    margin-left: 24px;
}

.image3{
    height: 480px;
    width: 640px;
    border-radius: 32px;
    margin-right: 32px;
}

section .container{
    align-items: flex-start;
}

p{
    color: #0B04A2;
}

#about .container{
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
}

#portifolio .container{
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
}

#Orçamento{
    background-color: #f8ffd7;
    padding: 32px 0px 48px 0px;
}

#Orçamento .container{
    display: block;
}

#Orçamento p{
    font-weight: normal;
    font-size: 24px;
}

.forms{
    display: flex;
    justify-content: space-between;
}

.social-list img{
    height: 24px;
}


.social-list li{
    display: inline;
    margin-right: 8px;
}

.social-list a{
    text-decoration: none;
}

#orçamento .forms{
    padding: 24px;
}

form input,
form textarea,
form button,
form select,
form button{
    display: block;
    width: 400px;
    margin-bottom: 8px;
    padding: 8px;
}

form{
    color: #0B04A2;
}

textarea,select{
    color: gray;
}

form textarea{
    resize: none;
    height: 180px;
}

form label{
    display: block;
    width: 320px;
    padding: 4px;
}

form button{
    background-color: #0B04A2;
    color: #CAF600;
    cursor: pointer;
}

form button:hover{
    background-color: #07034e;
    color: #ffffff;
}

footer{
    background-color: #0B04A2;
    color: #CAF600;
    padding: 24px;
}

footer p{
    color: #CAF600;
    font-size: 12px;
}